<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Photo Album</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="styles.css" media="screen" title="no title" charset="utf-8">
    <script type="text/template" id="albumTemplate">
      <ul>
        <div class='albumClass' rel='<%= albumRel %>'>
        <li>
        <img src= '<%= albumCover %>' />
        <h3><%= albumTitle %></h3>
        </li>
        </div>
      </ul>
    </script>
    <script type="text/template" id="photoTemplate">
        <div class='photoClass' rel='<%= photoRel %>' data-photo-full= '<%= photoFull %>'>
        <img src= '<%= photoThumb %>' />
        <h3><%= photoName %></h3>
        </div>
    </script>
    <script type="text/template" id="navTemplate">
        <div class='navClass' rel='<%= albumRel %>'>
        <li class='navBarList'>
        <h2><%= albumTitle %></h2>
        </li>
        </div>
    </script>
  </head>
  <body>

    <section class="home active">
    <header>
      <h1>My Albums</h1>
    </header>
      <div class="container">
      </div>
    </section>

      <section class="viewAlbum">
        <aside class="navBar">
        </aside>
        <div class="imagesClass active">
          <h1 class="albumName">Album Name</h1>
        </div>
     </section>

     <section class="viewPhoto">
       <div class="photoLarge"></div>
     </section>

    <footer>
    </footer>
    <script charset="utf-8" src="bower_components/jquery/dist/jquery.js"></script>
    <script charset="utf-8" src="bower_components/underscore/underscore.js"></script>
    <script src="images.js" charset="utf-8"></script>
    <script src="main.js" charset="utf-8"></script>
  </body>
</html>
