body {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

section {
  display: none;
}

.active {
  display: block;
}

header {
  display: block;
  width: 100%;
  background-color: grey;
  text-align: center;
  height: 100px;
}

header {
  margin-bottom: 4%;
}

footer {
  margin-top: 0;
}

header h1 {
  margin: 0;
  padding-top: 2%;
}

ul {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-bottom: 4%;
  margin-left: 9%;
  color: white;
  height: 150px;
}

li {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  margin-bottom: 0%;
  margin-left: -17%;
  color: white;
  height: 150px;
}

li img {
height: 150px;
width: 100%;
}

li h3 {
  text-align: center;
  color: black;
}

.viewAlbum {
  width: 100%;
}

.navBar {
  background-color: grey;
  height: 650px;
  width: 19%;
  display: inline-block;
}

.imagesClass {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 25%;
  margin-left: 0%;
  margin-top: 10%;
  height: 150px;
  width: 80%;
}

.photoClass {
  display: inline-block;
  vertical-align: top;
  width: 25%;
  margin-bottom: 6%;
  margin-left: 7%;
  height: 150px;
}

.photoClass img {
height: 150px;
width: 100%;
}

.photoClass h3 {
  text-align: center;
  color: black;
}

.navBarList {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  margin-bottom: 0%;
  margin-left: 22%;
  color: white;
  height: 50px;
}

.navBarList h2 {
  margin-bottom: 0;
  margin-top: 150px;
}
